In [104]:
# File writing
with open('employees.txt', mode = 'w') as emp:
    emp.write('001 Narendra 14.5\n')
    emp.write('002 Rahul 2.3\n')
    emp.write('003 Subramanyam 10.4\n')
    emp.write('004 Amit 12.7\n')
    emp.write('005 Sonia 3.6\n')

In [105]:
# Appending content to a file
with open('employees.txt', mode = 'a') as emp:
    content = ['006 Mallikarjun 5.5\n', '007 Akhilesh 3.5\n']
    emp.writelines(content)
    content = ['008 Nirmala 9.5\n', '009 Rajnath 8.4\n']
    emp.writelines(content)

In [106]:
# Reading a file
with open('employees.txt', mode = 'r') as emp:
    print(list(emp))

['001 Narendra 14.5\n', '002 Rahul 2.3\n', '003 Subramanyam 10.4\n', '004 Amit 12.7\n', '005 Sonia 3.6\n', '006 Mallikarjun 5.5\n', '007 Akhilesh 3.5\n', '008 Nirmala 9.5\n', '009 Rajnath 8.4\n']

In [107]:
with open('employees.txt', mode = 'r') as emp:
    data = emp.read()  # Reads character by character
    for d in data:
        print(d, end = ',')

0,0,1, ,N,a,r,e,n,d,r,a, ,1,4,.,5,
,0,0,2, ,R,a,h,u,l, ,2,.,3,
,0,0,3, ,S,u,b,r,a,m,a,n,y,a,m, ,1,0,.,4,
,0,0,4, ,A,m,i,t, ,1,2,.,7,
,0,0,5, ,S,o,n,i,a, ,3,.,6,
,0,0,6, ,M,a,l,l,i,k,a,r,j,u,n, ,5,.,5,
,0,0,7, ,A,k,h,i,l,e,s,h, ,3,.,5,
,0,0,8, ,N,i,r,m,a,l,a, ,9,.,5,
,0,0,9, ,R,a,j,n,a,t,h, ,8,.,4,
,

In [108]:
with open('employees.txt', mode = 'r') as emp:
    data = emp.readlines()  # Reads sentence by sentence
    for d in data:
        print(d, end = '')

001 Narendra 14.5
002 Rahul 2.3
003 Subramanyam 10.4
004 Amit 12.7
005 Sonia 3.6
006 Mallikarjun 5.5
007 Akhilesh 3.5
008 Nirmala 9.5
009 Rajnath 8.4

In [109]:
# Editing a line in an existing file
with open('employees.txt', mode = 'r+') as emp:
    employees = emp.readlines()
    for i, employee in enumerate(employees):
        if employee.find('Akhilesh') != -1:
            emp_id, emp_name, emp_salary = employee.split()
            emp_name = 'Yogi'
            employee = f'{emp_id} {emp_name} {emp_sal}\n'
            employees[i] = employee
        else:
            pass
            
    emp.seek(0)
    emp.truncate(0)
    emp.writelines(employees)

In [110]:
with open('employees.txt', mode = 'r+') as emp:
    employees = emp.readlines()
    emp.seek(0)
    for employee in employees:
        if employee.find('Yogi') != -1:
            emp_id, emp_name, emp_salary = employee.split()
            emp_name = 'Akhilesh'
            emp.write(f'{emp_id} {emp_name} {emp_salary}\n')
        else:
            emp.write(employee)

In [133]:
# Handling CSV files

# Writing to a CSV file
import csv

with open('accounts.csv', mode = 'w', newline = '') as acc:
    writer = csv.writer(acc)
    writer.writerow(['Account Number', 'Account Holder Name', 'Amount(lakhs)'])
    writer.writerows([ ['1111', 'Name1', 25], ['1112', 'Name2', 43], ['1113', 'Name3', 33], ['1114', 'Name4', 75] ])

In [134]:
# Reading a CSV file
with open('accounts.csv', mode = 'r', newline = '') as acc:
    reader = csv.reader(acc)

    for record in reader:
        acc_no, acc_name, acc_amt = record
        print(f'{acc_no: ^25} {acc_name: ^25} {acc_amt: ^25}')

     Account Number          Account Holder Name          Amount(lakhs)
          1111                      Name1                      25
          1112                      Name2                      43
          1113                      Name3                      33
          1114                      Name4                      75

In [135]:
# Appending to CSV

with open('accounts.csv', mode = 'a', newline = '') as acc:
    writer = csv.writer(acc)
    writer.writerow(['1115', 'Name5', 28])
    writer.writerow(['1116', 'Name6', 35])

In [136]:
# Using Pandas for CSV Handling
import pandas as pd

accounts = pd.read_csv('accounts.csv')
accounts

   Account Number Account Holder Name  Amount(lakhs)
0            1111               Name1             25
1            1112               Name2             43
2            1113               Name3             33
3            1114               Name4             75
4            1115               Name5             28
5            1116               Name6             35

In [138]:
accounts.describe()

       Account Number  Amount(lakhs)
count        6.000000       6.000000
mean      1113.500000      39.833333
std          1.870829      18.313019
min       1111.000000      25.000000
25%       1112.250000      29.250000
50%       1113.500000      34.000000
75%       1114.750000      41.000000
max       1116.000000      75.000000

In [145]:
accounts['Amount(lakhs)'].describe()

count     6.000000
mean     39.833333
std      18.313019
min      25.000000
25%      29.250000
50%      34.000000
75%      41.000000
max      75.000000
Name: Amount(lakhs), dtype: float64

In [146]:
happiness_index = pd.read_csv(r'https://raw.githubusercontent.com/MainakRepositor/Datasets/refs/heads/master/World%20Happiness%20Data/2020.csv')
happiness_index

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.115183,3.701658,3.250141,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,1.972317,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,Rwanda,Sub-Saharan Africa,3.3123,0.052425,3.415053,3.209547,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,1.972317,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.058674,3.414202,3.184198,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,1.972317,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,South Sudan,Sub-Saharan Africa,2.8166,0.107610,3.027516,2.605684,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,1.972317,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,Afghanistan,South Asia,2.5669,0.031311,2.628270,2.505530,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236